.AppScreen {
    filter: grayscale(100%);
}

.Card {
    transition: 0.3s;
    width: 20%;
    margin: 2% 2%;
    position: relative;
}

.Card span {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #f5f6fa;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    line-height: 100%;
}

.Card:hover {
    box-shadow: 2px 2px #00adb5;  
}

.Card:hover .AppScreen {
    filter: blur(1px);
}

.Card:hover span {
    color: #00595db9;
    font-weight: bold;
    visibility: visible;
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}

.Tags {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    color: #dcdde1;
}

@media screen and (max-width: 600px) {
    .Card {
        width: 96%;
        margin-bottom: 5%; 
    }
    .Card .AppScreen {
        filter: blur(1px);
    }
}
