footer {
    position: relative;
}

.icon {
    max-width:320px;
    max-height:56px;
    margin: 5px;
}

nav a:hover {
    background: #393e46;
  }


@media only screen and (min-width: 200px) and (max-width: 670px) {
    .icon {
        max-width:320px;
        max-height:56px;
    }
}

