.button {
  border: none;
	background: #414141;
	color: #fff7f7;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
}


.button:after {
	top: -100%;
	left: 0px;
	width: 100%;
	position: absolute;
	background: #3a9999;
	border-radius: 5px;
	content: 'Flipped';
	transform-origin: left bottom;
	transform: rotateX(90deg);
}

.button:hover {
  width: 100%;
  background: #252525;
  color: #fff7f7;
	box-shadow: inset 0 0 0 3px #414141;
}
