.Profile-picture {
    height: 40vmin;
    pointer-events: none;
    border-radius: 50%;
}

@media only screen and (min-width: 200px) and (max-width: 670px) {
    .Profile-picture {
        margin-top: 50px;
    }
  }