.topnav {
    overflow: hidden;
    background: #414141;
    padding: 1%;
  }

  .button {
    border: none;
    color: #fff7f7;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  .button:hover {
    width: 100%;
    background: #252525;
    color: #fff7f7;
    box-shadow: inset 0 0 0 3px #414141;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      /*float: right;
      display: block;*/
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav {
      padding: 0%;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      /*position: absolute;
      right: 0;
      top: 0;*/
      display: none;
    }
    .topnav.responsive a {
      float: none;
      display: inline;
      text-align: left;
      padding: 5px;
    }
  }